<!DOCTYPE html>
<html>
<head>
  <title>Social Network</title>
  <%= render :partial =>"shared/header"%>
</head>
<body>

<%= render :partial =>"shared/top_menu"%>

<div class="container">
  <%= yield %>
</div>

</body>
</html>
